<style>
    .nav-link:hover {
        background-color: #007bff; /* Azul claro para o hover */
        color: #ffffff; /* Texto branco para o hover */
        border-radius: .25rem; /* Arredondamento dos cantos */
    }
    .nav-link.active {
    background-color: #007bff; /* Cor de fundo para o item ativo */
    color: white; /* Cor do texto para o item ativo */
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
  const navLinks = document.querySelectorAll('.nav-link');
  const currentUrl = window.location.href; 

  navLinks.forEach(link => {
    if (link.href === currentUrl) {
      link.classList.add('active');
    }
  });
});
</script>


</div>