{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Detalhes da Cotação: {{ cotacao.nome }}</h2>
        {% if cotacao %}
        <a href="{% url 'cotacao:list_products_to_add' cotacao.id %}" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i> Adicionar Produto à Cotação
        </a>
        <a href="{% url 'cotacao:cotacao_list' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Voltar
        </a>
        {% endif %}
    </div>
    
    {% if cotacao and cotacao.itens_cotacao.exists %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>EAN</th>
                <th>SKU</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Unidade de Medida</th>
                <th>Observação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for item_data in itens_data %}
            <form method="post" action="{% url 'cotacao:update_item_cotacao' item_data.item.id %}">
                {% csrf_token %}
                <tr>
                    <td>{{ item_data.item.produto.ean|default_if_none:"N/E" }}</td>
                    <td>{{ item_data.item.produto.sku|default_if_none:"N/E" }}</td>
                    <td>{{ item_data.item.produto.name }}</td>
                    <td><input type="number" name="quantidade" value="{{ item_data.item.quantidade }}" class="form-control" min="1"></td>
                    <td>
                        <select name="tipo_volume" class="form-control">
                            {% for tipo_volume in item_data.tipos_volume %}
                                <option value="{{ tipo_volume.0 }}" {% if tipo_volume.0 == item_data.item.tipo_volume %}selected{% endif %}>{{ tipo_volume.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="text" name="observacao" value="{{ item_data.item.observacao }}" class="form-control"></td>
                    <td>
                        <button type="submit" class="btn btn-info">Salvar</button>
                        <a href="{% url 'cotacao:delete_item_cotacao' item_data.item.id %}" class="btn btn-danger" onclick="#">Remover</a>
                    </td>
                </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">Nenhum produto adicionado.</div>
    {% endif %}
</div>

{% endblock %}
