{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>{{ cotacao.nome }}</h2>
    <p><strong>Departamento:</strong> {{ cotacao.departamento.nome }}</p>
    <p><strong>Data de Abertura:</strong> {{ cotacao.data_abertura }}</p>
    <p><strong>Data de Fechamento:</strong> {{ cotacao.data_fechamento }}</p>

    <h3>Itens da Cotação</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Código EAN do Produto</th>
                    <th>Quantidade</th>
                    <th>Unidade de Medida</th>
                    <th>Nome do Produto</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cotacao.itens_cotacao.all %}
                <tr>
                    <td>{{ item.produto.ean }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.get_tipo_volume_display }}</td>
                    <td>{{ item.produto.name }}</td>
                    <td>
                        <a href="{% url 'cotacao:edit_item_cotacao' cotacao_id=cotacao.pk pk=item.pk %}" class="btn btn-sm btn-primary">Editar</a>
                        <a href="{% url 'cotacao:delete_item_cotacao' cotacao_id=cotacao.pk pk=item.pk %}" class="btn btn-sm btn-danger">Excluir</a>
                        <td><a href="{% url 'answers:submit_answer' item.id %}" class="btn btn-primary">Responder</a></td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'cotacao:add_item_to_cotacao' cotacao_id=cotacao.pk %}" class="btn btn-success">Adicionar item à cotação</a>
</div>
{% endblock %}
