{% extends "base.html" %}
{% load cotacao_filters %}
{% load static crispy_forms_tags %}

{% block content %}
<style>
    .badge-ativo {
    background-color: #28a745; /* Verde para ativo */
    color: white;
}

.badge-inativo {
    background-color: #dc3545; /* Vermelho para inativo */
    color: white;
}

a[href*="toggle_cotacao_status"] {
    background-color: #007bff; /* Azul padrão para o botão */
    color: white;
}

a[href*="toggle_cotacao_status"][href*="ativo"] {
    background-color: #dc3545; /* Vermelho para desativar */
}
a[href*="toggle_cotacao_status"] {
    background-color: #007bff; /* Azul padrão para o botão */
    color: white;
}

a[href*="toggle_cotacao_status"].status-ativo {
    background-color: #28a745; /* Verde para cotação ativa */
}

a[href*="toggle_cotacao_status"].status-inativo {
    background-color: #dc3545; /* Vermelho para cotação inativa */
}

div.card-footer a[href*="toggle_cotacao_status"] {
    background-color: #007bff; /* Azul padrão para o botão */
    color: white;
}

div.card-footer a[href*="toggle_cotacao_status"].status-ativo {
    background-color: #28a745; /* Verde para cotação ativa */
}

div.card-footer a[href*="toggle_cotacao_status"].status-inativo {
    background-color: #dc3545; /* Vermelho para cotação inativa */
}

</style>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Cotações</h2>
        <a href="{% url 'cotacao:cotacao_create' %}" class="btn btn-success">
            <i class="bi bi-plus-lg"></i> Criar Cotação
        </a>
    </div>

    <form method="get" class="mb-4">
        <div class="row g-3">
            <div class="col-md-4">
                <label for="data_inicio" class="form-label">Data de Início</label>
                <input type="date" name="data_inicio" class="form-control" id="data_inicio" value="{{ request.GET.data_inicio }}">
            </div>
            <div class="col-md-4">
                <label for="data_fim" class="form-label">Data de Fim</label>
                <input type="date" name="data_fim" class="form-control" id="data_fim" value="{{ request.GET.data_fim }}">
            </div>
            <div class="col-md-4">
                <label for="status" class="form-label">Status</label>
                <select name="status" class="form-control" id="status">                    
                    <option value="ativo" {% if request.GET.status == 'ativo' or not request.GET.status %}selected{% endif %}>Aberto</option>
                    <option value="inativo" {% if request.GET.status == 'inativo' %}selected{% endif %}>Fechado</option>
                    <option value="" {% if request.GET.status == '' %}selected{% endif %}>Todos os Status</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="departamento" class="form-label">Departamento</label>
                <select name="departamento" class="form-control" id="departamento">
                    <option value="">Todos os Departamentos</option>
                    {% for departamento in departamentos %}
                    <option value="{{ departamento.id }}" {% if request.GET.departamento|stringformat:"s" == departamento.id|stringformat:"s" %}selected{% endif %}>{{ departamento.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="usuario" class="form-label">Usuário</label>
                <select name="usuario" class="form-control" id="usuario">
                    <option value="">Todos os Usuários</option>
                    {% for usuario in usuarios %}
                    <option value="{{ usuario.id }}" {% if request.GET.usuario|stringformat:"s" == usuario.id|stringformat:"s" %}selected{% endif %}>{{ usuario.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="prazo" class="form-label">Prazo</label>
                <select name="prazo" class="form-control" id="prazo">
                    <option value="">Todos os Prazos</option>
                    <option value="0">à vista</option>
                    <option value="7">7 dias</option>
                    <option value="14">14 dias</option>
                    <option value="21">21 dias</option>
                    <option value="28">28 dias</option>
                </select>
            </div>
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-funnel"></i> Filtrar
                </button>
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for cotacao in cotacoes %}

        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-header {% if cotacao.status == 'ativo' %}bg-success{% else %}bg-danger{% endif %} text-white">
                    <h5 class="card-title">{{ cotacao.nome }}</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{ cotacao.departamento.nome }}</h6>
                    <p class="card-text">
                        Criado por: {{ cotacao.usuario_criador.username }}<br>
                        Aberta em: {{ cotacao.data_abertura|date:"d/m/Y" }}<br>
                        Fechamento em: {{ cotacao.data_fechamento|date:"d/m/Y" }}<br>
                        Status: <span class="badge {% if cotacao.status == 'ativo' %}badge-ativo{% else %}badge-inativo{% endif %}">{{ cotacao.get_status_display }}</span><br>
                        Prazo: {{ cotacao.prazo }} dias
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'cotacao:edit_cotacao' cotacao.id %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{% url 'cotacao:add_product_to_cotacao' cotacao.id %}" class="btn btn-primary btn-sm">
                        <i class="bi bi-basket"></i>
                    </a>

                    <a href="{% url 'cotacao:delete_cotacao' cotacao.id %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="{% url 'cotacao:toggle_cotacao_status' cotacao.id %}" class="btn btn-outline-success btn-sm status-{{ cotacao.status }}">
                        <i class="bi bi-toggle-on">Status</i>
                    </a>
                    <a href="{% url 'cotacao:enviar_cotacao' cotacao.id %}" class="btn btn-info btn-sm">
                        <i class="bi bi-send"></i> Enviar
                    </a>
                    <a href="" class="btn btn-success">
                        <i class="bi bi-eye-fill"></i> Resp.
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p class="text-muted">Não há cotações cadastradas no momento.</p>
        </div>
        {% endfor %}
 
    </div>
    <br>
<!-- Pagination -->
<div class="d-flex justify-content-center">
    {% if is_paginated %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.data_inicio %}&data_inicio={{ request.GET.data_inicio }}{% endif %}{% if request.GET.data_fim %}&data_fim={{ request.GET.data_fim }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.usuario %}&usuario={{ request.GET.usuario }}{% endif %}{% if request.GET.departamento %}&departamento={{ request.GET.departamento }}{% endif %}{% if request.GET.prazo %}&prazo={{ request.GET.prazo }}{% endif %}">Anterior</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.data_inicio %}&data_inicio={{ request.GET.data_inicio }}{% endif %}{% if request.GET.data_fim %}&data_fim={{ request.GET.data_fim }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.usuario %}&usuario={{ request.GET.usuario }}{% endif %}{% if request.GET.departamento %}&departamento={{ request.GET.departamento }}{% endif %}{% if request.GET.prazo %}&prazo={{ request.GET.prazo }}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.data_inicio %}&data_inicio={{ request.GET.data_inicio }}{% endif %}{% if request.GET.data_fim %}&data_fim={{ request.GET.data_fim }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.usuario %}&usuario={{ request.GET.usuario }}{% endif %}{% if request.GET.departamento %}&departamento={{ request.GET.departamento }}{% endif %}{% if request.GET.prazo %}&prazo={{ request.GET.prazo }}{% endif %}">Próximo</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>




</div>

{% endblock %}