{% extends "base.html" %}
{% load static crispy_forms_tags %}


{% block content %}
<div class="container mt-4">
    <!-- Navegação por Abas -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="home" aria-selected="true" aria-label="Criação e Lista de Cotações">Criação e Lista</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="false" aria-label="Respostas">Respostas</a>
        </li>
    </ul>
    
    <!-- Conteúdo das Abas -->
    <div class="tab-content" id="myTabContent">
        <!-- Aba de Criação de Cotações -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <h2 class="mt-3">Criação de Cotação</h2>
            <p>Utilize o formulário abaixo para criar uma nova cotação.</p>            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#criacaoCotacaoModal">
                Criar Cotação
            </button>
            
<!-- Modal para criação de cotação -->

            <!-- Lista de Cotações -->
            <div class="list-group mt-4">
                {% for cotacao in cotacoes %}
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ cotacao.nome }} - {{ cotacao.departamento.nome }}
                    </div>
                    <a href="{% url 'cotacao:add_product_to_cotacao' cotacao.id %}" class="btn btn-primary">Adicionar Produtos</a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="modal fade" id="criacaoCotacaoModal" tabindex="-1" aria-labelledby="criacaoCotacaoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="criacaoCotacaoModalLabel">Criar Cotação</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Salvar Cotação</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        <!-- Aba de Respostas -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h2 class="mt-3">Respostas</h2>
            <!-- Aqui você pode adicionar o conteúdo específico para esta aba -->
        </div>
    </div>
</div>
{% endblock %}
