{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <!-- Navegação por Abas -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="creation-tab" data-bs-toggle="tab" data-bs-target="#creation" role="tab" aria-controls="creation" aria-selected="true">Criação de Cotações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" role="tab" aria-controls="list" aria-selected="false">Lista de Cotações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="false" href="#list">Respostas</a>
        </li>
    </ul>

    <!-- Conteúdo das Abas -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="creation" role="tabpanel" aria-labelledby="creation-tab">
            {% include 'cotacao/cotacao_create.html' with form=cotacao_form %}
        </div>
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
            {% include 'cotacao/cotacao_list.html'  %}
        </div>
        <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        </div> -->
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    let urlParams = new URLSearchParams(window.location.search);
    let activeTab = urlParams.get('tab');
    if (activeTab) {
        let tabElement = document.querySelector('a[data-bs-target="#' + activeTab + '"]');
        if (tabElement) {
            new bootstrap.Tab(tabElement).show();
        }
    }
});
</script>
{% endblock %}
