<!-- itemcotacao_submit.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Submissão de Preços para: {{ cotacao.nome }}</h2>
    <!-- Informações da Cotação -->
    <div>
        <p><strong>Departamento:</strong> {{ cotacao.departamento.nome }}</p>
        <p><strong>Data de Abertura:</strong> {{ cotacao.data_abertura }}</p>
        <p><strong>Data de Fechamento:</strong> {{ cotacao.data_fechamento }}</p>
    </div>

    <!-- Listagem de Itens com Formulários para Preço -->
    <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Tipo de Volume</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cotacao.itens_cotacao.all %}
                    <tr>
                        <td>{{ item.produto.name }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>{{ item.get_tipo_volume_display }}</td>
                        <td>
                            <!-- Supondo que você tenha um campo de formulário chamado 'preco' -->
                            <input type="number" name="preco_{{ item.id }}" step="0.01" required>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Submeter Preços</button>
    </form>
</div>
{% endblock %}
