{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .page-item {
        margin: 0 5px;
    }
    .page-link {
        display: block;
        padding: 8px 16px;
        background-color: #f8f9fa;
        color: #343a40;
        border: 1px solid #dee2e6;
        text-decoration: none;
    }
    .page-item.active .page-link {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }
</style>

<div class="container mt-4">
    <h2>Lista de Produtos</h2>
    <a href="{% url 'cotacao:cotacao_list' %}" class="btn btn-secondary mb-3">
        <i class="bi bi-arrow-left"></i> Voltar
    </a>
    <div class="input-group mb-3">
        <input type="text" id="searchField" placeholder="Pesquisar produto por nome, SKU ou EAN" class="form-control">
        <div class="input-group-append">
            <button onclick="fetchProducts()" class="btn btn-outline-secondary">Pesquisar</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>EAN</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Tipo de Volume</th>
                    <th>Observação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="productTableBody">
                <!-- Dinamicamente preenchido por JavaScript -->
            </tbody>
        </table>
    </div>
</div>

<script>
    function fetchProducts() {
        const searchValue = document.getElementById('searchField').value;
        fetch(`{% url 'cotacao:produtos_api' %}?q=${searchValue}`)
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('productTableBody');
                tbody.innerHTML = ''; // Limpa a tabela antes de adicionar novos resultados
                data.forEach(prod => {
                    tbody.innerHTML += `
                        <tr>
                            <td>${prod.sku}</td>
                            <td>${prod.ean}</td>
                            <td>${prod.nome}</td>
                            <td><input type="number" name="quantidade" min="1" class="form-control" value="1"></td>
                            <td>
                                <select name="tipo_volume" class="form-control">
                                    <!-- Substituir com a lista dinâmica de tipos de volume se necessário -->
                                    <option value="Un">Unidade</option>
                                    <option value="Kg">Kilogram</option>
                                    <option value="L">Litro</option>
                                </select>
                            </td>
                            <td><input type="text" name="observacao" class="form-control"></td>
                            <td><button class="btn btn-primary">Adicionar</button></td>
                        </tr>
                    `;
                });
            })
            .catch(error => console.error('Error fetching data: ', error));
    }
</script>

{% endblock %}
