{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .page-item {
        margin: 0 5px;
    }
    .page-link {
        display: block;
        padding: 8px 16px;
        background-color: #f8f9fa;
        color: #343a40;
        border: 1px solid #dee2e6;
        text-decoration: none;
    }
    .page-item.active .page-link {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }
</style>

<div class="container mt-4">
    <h2>Lista de Produtos</h2>
    <a href="{% url 'cotacao:add_product_to_cotacao' cotacao.id %}" class="btn btn-secondary mb-3">
        <i class="bi bi-arrow-left"></i> Voltar
    </a>
    <div class="input-group mb-3">
        <input type="text" id="searchField" placeholder="Pesquisar produto por nome, SKU ou EAN" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" onclick="fetchProducts()">Pesquisar</button>
        </div>
    </div>
    <div id="messageContainer" class="alert" style="display: none;" aria-live="assertive"></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>EAN</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Tipo de Volume</th>
                    <th>Observação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="productTableBody">
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.sku }}</td>
                    <td>{{ produto.ean }}</td>
                    <td>{{ produto.nome }}</td>
                    <td><input type="number" name="quantidade_{{ produto.id }}" min="1" class="form-control" value="1"></td>
                    <td>
                        <select name="tipo_volume_{{ produto.id }}" class="form-control">
                            {% for tipo_volume in produto.tipos_volume %}
                            <option value="{{ tipo_volume.0 }}">{{ tipo_volume.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="text" name="observacao_{{ produto.id }}" class="form-control"></td>
                    <td><button onclick="addProduct({{ produto.id }})" class="btn btn-primary">Adicionar</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function debounce(func, wait) {
        let timeout;
        return function(...args) {
            const context = this;
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(context, args), wait);
        };
    }
    
    const fetchProductsDebounced = debounce(fetchProducts, 300);
    document.getElementById('searchField').addEventListener('input', fetchProductsDebounced);

    function fetchProducts() {
        const searchValue = document.getElementById('searchField').value;
        fetch(`{% url 'cotacao:produtos_api' %}?q=${searchValue}`)
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('productTableBody');
                tbody.innerHTML = ''; // Limpa a tabela
                data.forEach(prod => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${prod.sku}</td>
                        <td>${prod.ean}</td>
                        <td>${prod.nome}</td>
                        <td><input type="number" name="quantidade_${prod.id}" min="1" class="form-control" value="1"></td>
                        <td>
                            <select name="tipo_volume_${prod.id}" class="form-control">
                                <option value="Un">Unidade(s)</option>
                                <option value="Kg">Kilograma(s)</option> 
                                <option value="Dp">Display(s)</option>
                                <option value="Cx">Caixa(s)</option>
                                <option value="Fd">Fardo(s)</option>  
                                <option value="Pc">Pacote(s)</option>
                                <option value="Sc">Sache(s)</option>
                                <option value="Tp">Take Profit</option>                                
                            </select>
                        </td>
                        <td><input type="text" name="observacao_${prod.id}" class="form-control"></td>
                        <td><button onclick="addProduct(${prod.id})" class="btn btn-primary">Adicionar</button></td>
                    `;
                    tbody.appendChild(row);
                });
            })
            .catch(error => console.error('Error fetching data: ', error));
    }
    function showStatusMessage(type, message) {
        const messageContainer = document.getElementById('messageContainer');
        messageContainer.className = `alert alert-${type}`;
        messageContainer.textContent = message;
        messageContainer.style.display = 'block';
    
        setTimeout(() => {
            messageContainer.style.display = 'none';
        }, 4000);
    }

    function addProduct(productId) {
        const quantidade = document.querySelector(`input[name='quantidade_${productId}']`).value;
        const tipoVolume = document.querySelector(`select[name='tipo_volume_${productId}']`).value;
        const observacao = document.querySelector(`input[name='observacao_${productId}']`).value;

        fetch(`{% url 'cotacao:add_product_to_cotacao' cotacao.id %}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: `produto_id=${productId}&quantidade=${quantidade}&tipo_volume=${tipoVolume}&observacao=${observacao}`
        })
        .then(response => {
            if (response.ok) {
                showStatusMessage('success', 'Produto adicionado com sucesso!');
            } else {
                return response.json().then(data => showStatusMessage('danger', data.message || 'Falha ao adicionar produto.'));
            }
        })
        .catch(error => {
            console.error('Error adding product: ', error);
            showStatusMessage('danger', 'Produto já adicionado.');
        });
    }
</script>

{% endblock %}
