{% extends "base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Código EAN</th>
          <th>Nome do Produto</th>
          <th>Quantidade Pedida</th>
          <th>Tipo de Volume</th>
          <th>Observação</th>
          <th>Preço (R$)</th>
          <th>Observação Fornecedor</th>
        </tr>
      </thead>
      <tbody>
        {% for item in itens_cotacao %}
          <tr>
            <td>{{ item.produto.ean }}</td>
            <td>{{ item.produto.name }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.get_tipo_volume_display }}</td>
            <td>{{ item.observacao }}</td>
            <td>
                <input type="number" name="preco_{{ item.id }}" step="0.001" min="0" class="form-control" required>
            </td>
            <td>
                <input type="text" name="observacao_{{ item.id }}" class="form-control">
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Enviar Resposta</button>
  </form>
{% endblock %}
