<div class="container mt-3">
    <!-- Departamentos -->
    <div class="row g-3">
        <div class="col-md-6">
            <label for="available_departments" class="form-label">Departamentos Disponíveis:</label>
            <select id="available_departments" class="form-control" multiple>
                <!-- Opções de departamentos carregadas aqui -->
                {% for department in departments %}
                <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
            <button id="add_department" class="btn btn-primary mt-2">Adicionar &gt;&gt;</button>
        </div>
        <div class="col-md-6">
            <label for="selected_departments" class="form-label">Departamentos Selecionados:</label>
            <select id="selected_departments" name="departments" class="form-control" multiple>
                <!-- Opções de departamentos selecionados serão movidas para aqui -->
            </select>
            <button id="remove_department" class="btn btn-secondary mt-2">&lt;&lt; Remover</button>
        </div>
    </div>

    <!-- Categorias e Subcategorias -->
    <div class="row g-3 mt-3">
        <div class="col-md-6">
            <label for="id_categories" class="form-label">Categorias:</label>
            <select id="id_categories" name="categories" class="selectpicker form-control" multiple data-live-search="true">
                <!-- Opções de categorias carregadas dinamicamente com base na seleção do departamento -->
            </select>
        </div>
        <div class="col-md-6">
            <label for="id_subcategories" class="form-label">Subcategorias:</label>
            <select id="id_subcategories" name="subcategories" class="selectpicker form-control" multiple data-live-search="true">
                <!-- Opções de subcategorias carregadas dinamicamente com base na seleção da categoria -->
            </select>
        </div>
    </div>
   
</div>





    

    

