{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid mt-4">
    <form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row g-3">
            <!-- Aumento da largura das colunas para telas grandes -->
            <div class="col-lg-4">
                <div class="mb-3">
                    <label for="id_ean" class="form-label">EAN:</label>
                    {{ form.ean|add_class:'form-control' }}
                    {{ form.ean.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_name" class="form-label">Nome:</label>
                    {{ form.name|add_class:'form-control' }}
                    {{ form.name.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_brand" class="form-label">Marca:</label>
                    {{ form.brand|add_class:'form-control' }}
                    {{ form.brand.errors }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label for="id_department" class="form-label">Departamento:</label>
                    {{ form.department|add_class:'form-control' }}
                    {{ form.department.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_category" class="form-label">Categoria:</label>
                    {{ form.category|add_class:'form-control' }}
                    {{ form.category.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_subcategory" class="form-label">Subcategoria:</label>
                    {{ form.subcategory|add_class:'form-control' }}
                    {{ form.subcategory.errors }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label for="id_status" class="form-label">Status:</label>
                    {{ form.status|add_class:'form-control' }}
                    {{ form.status.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_photo" class="form-label">Imagem:</label>
                    {{ form.photo|add_class:'form-control' }}
                    {{ form.photo.errors }}
                </div>
            </div>
        </div>
        <div class="text-end mt-4">
            <input type="submit" value="Cadastrar" class="btn btn-primary me-2">
            <!-- Botões adicionais -->
        </div>
    </form>
</div>
{% endblock %}
