{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLlXwpFN89x4CG7hFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
 
{% endblock %}

{% block content %}
<div class="container mt-0">
    <div class="card shadow-sm">
        <div class="card-body bg-dark text-white rounded">
            <form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                <a href="{% url 'products:products_list' %}" class="btn btn-primary">Voltar</a>
                <h1 class="card-title h2 mb-4 text-center">Atualizar Produto</h1>
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label for="id_ean" class="form-label">Codigo de barras EAN:</label>
                            {{ form.ean|add_class:'form-control' }}
                            {{ form.ean.errors }}
                        </div>
                        <div class="mb-2">
                            <label for="id_sku" class="form-label">SKU:</label>
                            {{ form.sku|add_class:'form-control' }}
                            {{ form.sku.errors }}
                        </div>
                        <div class="mb-2">
                            <label for="id_name" class="form-label">Nome:</label>
                            {{ form.name|add_class:'form-control' }}
                            {{ form.name.errors }}
                        </div>
                        <div class="mb-2">
                            <label for="id_department" class="form-label">Departamento:</label>
                            {{ form.department|add_class:'form-control' }}
                            {{ form.department.errors }}
                        </div>
                        <div class="mb-2">
                            <label for="id_category" class="form-label">Categoria:</label>
                            <select id="id_category" name="category" class="form-control" data-selected="{{ form.instance.category_id|default_if_none:'' }}"></select>
                            {{ form.category.errors }}
                        </div>
                        <div class="mb-2">
                            <label for="id_subcategory" class="form-label">Subcategoria:</label>
                            <select id="id_subcategory" name="subcategory" class="form-control" data-selected="{{ form.instance.subcategory_id|default_if_none:'' }}"></select>
                            {{ form.subcategory.errors }}
                        </div>
                        <div class="mb-2">
                            <label for="id_status" class="form-label">Status:</label>
                            {{ form.status|add_class:'form-control' }}
                            {{ form.status.errors }}
                        </div>
                    </div>
                    <div class="col-lg-6">  

                        <div class="mb-3">
                            <label for="id_brand" class="form-label">Marca:</label>
                            {{ form.brand|add_class:'form-control select2' }}
                            {{ form.brand.errors }}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_product_line" class="form-label">Linha de Produto:</label>
                            {{ form.product_line|add_class:'form-control' }}
                            {{ form.product_line.errors }}
                        </div>

                        <div class="mb-2">
                            <label for="id_photo" class="form-label">Imagem:</label>
                            {{ form.photo|add_class:'form-control' }}
                            {{ form.photo.errors }}
                        </div>
                        <div class="mb-2">
                            <label for="id_descricao" class="form-label">Descrição:</label>
                            {{ form.descricao|add_class:'form-control' }}
                            {{ form.descricao.errors }}
                        </div>
                        <div class="mb-2">
                            <label for="id_notas" class="form-label">Notas:</label>
                            {{ form.notas|add_class:'form-control' }}
                            {{ form.notas.errors }}
                        </div>
                    </div>
                </div>
                <div class="text-end mt-0">
                    <input type="submit" value="Atualizar" class="btn btn-primary me-1">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const departmentSelect = document.getElementById('id_department');
        const categorySelect = document.getElementById('id_category');
        const subcategorySelect = document.getElementById('id_subcategory');
    
        // Função para carregar as categorias baseadas no departamento selecionado
        async function loadCategories() {
            if (!departmentSelect.value) {
                return;
            }
            const response = await fetch(`/products/get-categories/?department_id=${departmentSelect.value}`);
            const categories = await response.json();
            updateSelectOptions(categorySelect, categories, categorySelect.dataset.selected);
    
            // Se uma categoria estiver pré-selecionada, dispara o evento de mudança para carregar as subcategorias
            if (categorySelect.dataset.selected) {
                categorySelect.dispatchEvent(new Event('change'));
            }
        }
    
        // Função para carregar as subcategorias baseadas na categoria selecionada
        async function loadSubcategories() {
            if (!categorySelect.value) {
                return;
            }
            const response = await fetch(`/products/get-subcategories/?category_id=${categorySelect.value}`);
            const subcategories = await response.json();
            updateSelectOptions(subcategorySelect, subcategories, subcategorySelect.dataset.selected);
        }
    
        // Função para atualizar as opções de um <select>
        function updateSelectOptions(select, options, selectedValue) {
            select.innerHTML = '<option value="">---------</option>'; // Limpa as opções existentes
            options.forEach(option => { // Adiciona as novas opções
                const isSelected = option.id.toString() === selectedValue;
                select.add(new Option(option.name, option.id, isSelected, isSelected));
            });
        }
    
        departmentSelect.addEventListener('change', loadCategories); // Evento de mudança no departamento
        categorySelect.addEventListener('change', loadSubcategories); // Evento de mudança na categoria
    
        // Inicializa os selects com os valores salvos (se houver)
        if (departmentSelect.value) {
            loadCategories(); // Não precisa esperar, pois o evento de mudança na categoria será disparado após carregar as categorias
            loadSubcategories();
        }   
    });
</script>
    
    
{% endblock %}
