{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'js/jquery.min.js' %}"></script> <!-- Incluindo o jQuery -->
{% endblock %}

{% block content %}
<div class="container-fluid mt-4" style="background-color: #343a40; color: #ffffff; border-radius: 10px; box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1); padding: 20px; max-width: 1200px; margin: auto;">  
    <form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <h1 style="font-size: 2rem; margin-bottom: 20px; text-align: center;">Atualizar Produto</h1>
        <div class="row g-3">
            <!-- Aumento da largura das colunas para aproveitar melhor o espaço em telas grandes -->
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="id_ean" class="form-label">Codigo de barras EAN:</label>
                    {{ form.ean|add_class:'form-control' }}
                    {{ form.ean.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_name" class="form-label">Nome:</label>
                    {{ form.name|add_class:'form-control' }}
                    {{ form.name.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_brand" class="form-label">Marca:</label>
                    {{ form.brand|add_class:'form-control' }}
                    {{ form.brand.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_department" class="form-label">Departamento:</label>
                    {{ form.department|add_class:'form-control' }}
                    {{ form.department.errors }}
                </div>
                </div>
                <div class="col-lg-6">
                <div class="mb-3">
                    <label for="id_category" class="form-label">Categoria:</label>
                    <select id="id_category" name="category" class="form-control" data-selected="{{ form.instance.category_id|default_if_none:'' }}"></select>
                    {{ form.category.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_subcategory" class="form-label">Subcategoria:</label>
                    <select id="id_subcategory" name="subcategory" class="form-control" data-selected="{{ form.instance.subcategory_id|default_if_none:'' }}"></select>
                    {{ form.subcategory.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_status" class="form-label">Status:</label>
                    {{ form.status|add_class:'form-control' }}
                    {{ form.status.errors }}
                </div>
                <div class="mb-3">
                    <label for="id_photo" class="form-label">Imagem:</label>
                    {{ form.photo|add_class:'form-control' }}
                    {{ form.photo.errors }}
                </div>
            </div>
        </div>
        <div class="text-end mt-4">
            <input type="submit" value="Atualizar" class="btn btn-primary me-2">
            <!-- Aqui você pode adicionar botões adicionais conforme necessário -->
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const departmentSelect = document.getElementById('id_department');
        const categorySelect = document.getElementById('id_category');
        const subcategorySelect = document.getElementById('id_subcategory');
    
        // Função para carregar as categorias baseadas no departamento selecionado
        async function loadCategories() {
            if (!departmentSelect.value) {
                return;
            }
            const response = await fetch(`/products/get-categories/?department_id=${departmentSelect.value}`);
            const categories = await response.json();
            updateSelectOptions(categorySelect, categories, categorySelect.dataset.selected);
    
            // Se uma categoria estiver pré-selecionada, dispara o evento de mudança para carregar as subcategorias
            if (categorySelect.dataset.selected) {
                categorySelect.dispatchEvent(new Event('change'));
            }
        }
    
        // Função para carregar as subcategorias baseadas na categoria selecionada
        async function loadSubcategories() {
            if (!categorySelect.value) {
                return;
            }
            const response = await fetch(`/products/get-subcategories/?category_id=${categorySelect.value}`);
            const subcategories = await response.json();
            updateSelectOptions(subcategorySelect, subcategories, subcategorySelect.dataset.selected);
        }
    
        // Função para atualizar as opções de um <select>
        function updateSelectOptions(select, options, selectedValue) {
            select.innerHTML = '<option value="">---------</option>'; // Limpa as opções existentes
            options.forEach(option => { // Adiciona as novas opções
                const isSelected = option.id.toString() === selectedValue;
                select.add(new Option(option.name, option.id, isSelected, isSelected));
            });
        }
    
        departmentSelect.addEventListener('change', loadCategories); // Evento de mudança no departamento
        categorySelect.addEventListener('change', loadSubcategories); // Evento de mudança na categoria
    
        // Inicializa os selects com os valores salvos (se houver)
        if (departmentSelect.value) {
            loadCategories(); // Não precisa esperar, pois o evento de mudança na categoria será disparado após carregar as categorias
            loadSubcategories();
        }   
    });
</script>
    
    
{% endblock %}
