{% extends "base.html" %}

{% block content %}

<div class="container mt-0">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header bg-dark text-white">
          
          <h4 class="card-title">{{ object.name }} - {{ object.brand.name|default:"" }}</h4>
        </div>
        <div class="card-body">
          {% if object.photo %}
            <img src="{{ object.photo.url }}" alt="{{ object.name }}" class="img-fluid rounded mx-auto d-block mb-3" style="max-height: 300px;">
          {% else %}
            <img src="/media/products/sem imagem.gif" alt="Foto padrão" class="img-fluid rounded mx-auto d-block mb-3" style="max-height: 300px;">
          {% endif %}

          <dl class="row">
            <dt class="col-sm-4">EAN:</dt>
            <dd class="col-sm-8">{{ object.ean|default:"Não especificado" }}</dd>

            <dt class="col-sm-4">SKU:</dt>
            <dd class="col-sm-8">{{ object.sku|default:"Não especificado" }}</dd>

            <dt class="col-sm-4">Departamento:</dt>
            <dd class="col-sm-8">{{ object.department.nome|default:"Não especificado" }}</dd>

            <dt class="col-sm-4">Categoria:</dt>
            <dd class="col-sm-8">{{ object.category.name|default:"Não especificado" }}</dd>

            <dt class="col-sm-4">Subcategoria:</dt>
            <dd class="col-sm-8">{{ object.subcategory.name|default:"Não especificado" }}</dd>

            <dt class="col-sm-4">Linha de produto:</dt>
            <dd class="col-sm-8">{{ object.product_line.name|default:"Não especificado" }}</dd>

            <dt class="col-sm-4">Status:</dt>
            <dd class="col-sm-8">{% if object.status %}Ativo{% else %}Inativo{% endif %}</dd>

            <dt class="col-sm-4">Descrição:</dt>
            <dd class="col-sm-8">{{ object.descricao|default:"Não especificada" }}</dd>

            <dt class="col-sm-4">Notas:</dt>
            <dd class="col-sm-8">{{ object.notas|default:"Não especificado" }}</dd>
          </dl>

          {% if user.is_authenticated %}
            <div class="text-center mt-3">
              <a href="{% url 'products:product_update' pk=object.pk %}" class="btn btn-primary">Editar</a>
              <a href="{% url 'products:products_list' %}" class="btn btn-outline-success">Voltar</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}