{% extends "base_no_sidebar.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Confirmação de Dados</h5>
                    <form method="post" action="{% url 'respostas:responder_cotacao' cotacao_uuid=cotacao_uuid fornecedor_id=fornecedor_id token=token %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="auth_code" class="form-label">Digite os primeiros 4 dígitos do seu CNPJ:</label>
                            <input type="text" class="form-control" name="auth_code" id="auth_code" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if error_message and request.method == 'POST' %}
<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Erro de Autenticação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ error_message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.show();
    });
</script>
{% endif %}
{% endblock %}
