{% extends 'base_no.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Respostas para Cotação: {{ cotacao.nome }}</h2>
        <a href="{% url 'cotacao:cotacao_list' %}" class="btn btn-secondary">Voltar</a>
        <div class="d-flex flex-wrap">            
            <button class="btn btn-danger me-2"><i class="bi bi-x-circle"></i> Fechar Cotação</button>
            <button class="btn btn-success me-2"><i class="bi bi-file-earmark-excel"></i> Baixar em Excel</button>
            <button class="btn btn-primary me-2"><i class="bi bi-file-earmark-pdf"></i> Baixar em PDF</button>
            <button class="btn btn-secondary"><i class="bi bi-printer"></i> Imprimir</button> 
        </div>
    </div>
    <input class="form-control mb-4" id="myInput" type="text" placeholder="Pesquisar...">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Tipo de Volume</th>
                    <th>Top 3 Ofertas</th>
                    <th>Observações do Fornecedor (Top 3)</th>
                    <th>Imagem do Produto (Top 3)</th>
                </tr>
            </thead>
            <tbody>
            {% for item in itens_data %}
                {% if item.respostas %}
                <tr>
                    <td>{{ item.produto_nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.tipo_volume }}</td>
                    <td>
                        <ul>
                            {% for resposta in item.respostas|slice:":3" %}
                                <li><strong>R$ {{ resposta.preco }} - {{ resposta.fornecedor_nome }}</strong></li>
                            {% endfor %}
                        </ul>
                        {% if item.respostas|length > 3 %}
                            <a href="#" data-bs-toggle="modal" data-bs-target="#moreOffersModal{{ forloop.counter }}">outras respostas</a>
                            <!-- Modal -->
                            <div class="modal fade" id="moreOffersModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="moreOffersModalLabel{{ forloop.counter }}" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="moreOffersModalLabel{{ forloop.counter }}">Mais Ofertas de {{ item.produto_nome }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                {% for resposta in item.respostas|slice:"3:" %}
                                                    <div class="row align-items-center mb-2">
                                                        <div class="col-4">
                                                            <span>R$ {{ resposta.preco }} - {{ resposta.fornecedor_nome }}</span>
                                                        </div>
                                                        <div class="col-5">
                                                            <span>{{ resposta.observacao|default:"Sem observações" }}</span>
                                                        </div>
                                                        <div class="col-3">
                                                            {% if resposta.imagem_url %}
                                                                <a href="#" onclick="closeAllModals();"
                                                                data-bs-toggle="modal" 
                                                                data-bs-target="#imagemModal{{ forloop.parentloop.counter }}{{ forloop.counter }}">Ver Imagem</a>
                                                                <script>
                                                                    // Função para fechar todos os modais abertos
                                                                    function closeAllModals() {
                                                                        $('.modal').each(function(){
                                                                            $(this).modal('hide');
                                                                        });
                                                                    }
                                                                    </script>
                                                            {% endif %}
                                                        </div>
                                                    </div>                                                    
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                        {% for resposta in item.respostas|slice:":3" %}
                            <li>{{ resposta.observacao|default:"Sem observações" }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for resposta in item.respostas|slice:":3" %}
                            {% if resposta.imagem_url %}
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#imagemModal{{ forloop.parentloop.counter }}{{ forloop.counter }}">Imagem de {{ resposta.fornecedor_nome }}</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="imagemModal{{ forloop.parentloop.counter }}{{ forloop.counter }}" tabindex="-1" aria-labelledby="imagemModalLabel{{ forloop.parentloop.counter }}{{ forloop.counter }}" aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="imagemModalLabel{{ forloop.parentloop.counter }}{{ forloop.counter }}">Imagem de {{ resposta.fornecedor_nome }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" style="text-align: center;">
                                                    <img src="{{ resposta.imagem_url }}" alt="Imagem do Produto" style="max-width: 100%; height: auto;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <li>Sem imagem</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
