{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Responder à Cotação: {{ cotacao.nome }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="fornecedor_email">Seu E-mail:</label>
            <input type="email" name="fornecedor_email" class="form-control" required>
        </div>
        {% for item, form in item_form_pairs %}
            <div>
                <label>{{ item.produto.name }}:</label>
                {{ form.price }}
                {% if form.price.errors %}
                    <div class="alert alert-danger">{{ form.price.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar Respostas</button>
    </form>
</div>
{% endblock %}
