{% extends "base_no_sidebar.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Responder à Cotação: {{ cotacao.nome }}</h2>
    <p><strong>Departamento:</strong> {{ cotacao.departamento.nome }}</p>
    <p><strong>Data de Abertura:</strong> {{ cotacao.data_abertura }}</p>
    <p><strong>Data de Fechamento:</strong> {{ cotacao.data_fechamento }}</p>

    <form method="post" action="{% url 'answers:submit_answers_by_uuid' uuid=cotacao.uuid %}">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Código EAN do Produto</th>
                        <th>Quantidade</th>
                        <th>Unidade de Medida</th>
                        <th>Nome do Produto</th>
                        <th>Preço Proposto</th> <!-- Coluna adicionada para o fornecedor inserir o preço -->
                    </tr>
                </thead>
                <tbody>
                    {% for item in cotacao.itens_cotacao.all %}
                    <tr>
                        <td>{{ item.produto.ean }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>{{ item.get_tipo_volume_display }}</td>
                        <td>{{ item.produto.name }}</td>
                        <td>
                            <!-- Campo para inserção do preço pelo fornecedor -->
                            <input type="number" name="price_{{ item.pk }}" class="form-control" step="0.01" min="0" required>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Respostas</button>
    </form>
</div>
{% endblock %}
