{% extends 'base.html' %}

{% block content %}
<style>
    /* Estilo específico para o formulário de login */
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Altura mínima para garantir que o container cubra a tela inteira */
        background-color: #f7f7f7; /* Ajuste conforme necessário */
    }

    .login-form {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .login-form input[type="submit"] {
        width: 100%; /* Faz com que o botão de submit ocupe toda a largura do formulário */
        background-color: #0096c7;
        color: #fff;
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .login-form input[type="submit"]:hover {
        background-color: #108eb8;
    }
</style>

<div class="login-container">
    <form class="login-form" action="" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <input type="submit" value="Entrar">
    </form>
</div>
{% endblock %}
