{% extends "base.html" %}

{% block content %}
<style>
    /* Estilo específico para o formulário de registro adaptado para o tema escuro */
    .register-form {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: #343a40; /* Fundo mais escuro para o formulário */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra clara para contraste */
        color: #ffffff; /* Texto branco */
    }

    .register-form label {
        display: block;
        margin-bottom: 8px;
        color: #dee2e6; /* Cor de texto claro para melhor contraste */
    }

    .register-form .form-group {
        margin-bottom: 15px;
    }

    .register-form input[type="text"],
    .register-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ced4da; /* Bordas claras para contraste */
        background-color: #495057; /* Fundo dos campos de entrada */
        color: #e9ecef; /* Cor do texto nos inputs */
        border-radius: 4px;
    }

    .register-form input[type="submit"] {
        width: 100%;
        background-color: #007bff; /* Cor do botão */
        color: #fff; /* Cor do texto no botão */
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .register-form input[type="submit"]:hover {
        background-color: #0056b3; /* Cor do botão ao passar o mouse */
    }
</style>

<form class="register-form" action="" method="post">
    {% csrf_token %}
    
    <div class="form-group">
        {{ user_form.username.errors }}
        <label>Usuário: </label>
        {{ user_form.username }}
    </div>

    <div class="form-group">
        {{ user_form.password1.errors }}
        <label>Senha: </label>
        {{ user_form.password1 }}
    </div>

    <div class="form-group">
        {{ user_form.password2.errors }}
        <label>Confirmar senha: </label>
        {{ user_form.password2 }}
    </div>

    <div class="form-group">
        <input type="submit" value="Cadastrar">
    </div>
</form>
{% endblock %}
