
.top-offer { /* Estilizando cada oferta do Top 3 */
    width: 30%; /* Ajuste a largura conforme necessário */
    margin-bottom: 15px;
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .top-offer {
      width: 48%; /* Ajuste para telas menores */
    }
  }
  
  @media (max-width: 576px) {
    .top-offer {
      width: 100%; /* Em telas muito pequenas, ocupa a largura total */
    }
  }
  
  .offer-item {
    font-weight: bold; /* Opcional: Negrito para destacar */
}

.text-success {
    color: #28a745 !important; /* Verde */
}

.text-warning {
    color: #ffc107 !important; /* Amarelo */
}

.text-danger {
    color: #dc3545 !important; /* Vermelho */
}