{% extends "base.html" %}

{% block content %}
<div class="supplier-form">
  <h2>Detalhes do Fornecedor</h2>
  <p><strong>Nome:</strong> {{ object.name }}</p>
  <p><strong>E-mail:</strong> {{ object.email }}</p>
  <p><strong>Telefone:</strong> {{ object.phone }}</p>
  <p><strong>Empresa:</strong> {{ object.company }}</p>
  <p><strong>CNPJ:</strong> {{ object.cnpj }}</p> <!-- Linha para exibir o CNPJ -->
  <a href="{% url 'suppliers:supplier_update' object.id %}" class="btn btn-primary">Editar</a>
  <a href="{% url 'suppliers:supplier_delete' object.id %}" class="btn btn-danger">Excluir</a>  
</div>
{% endblock %}
