{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Fornecedores</h2>
  <div class="d-flex justify-content-end mb-3">
    <a href="{% url 'suppliers:supplier_new' %}" class="btn btn-success">Cadastrar Fornecedor</a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Empresa</th>
          <th>CNPJ</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for supplier in object_list %}
        <tr>
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.email }}</td>
          <td>{{ supplier.phone }}</td>
          <td>{{ supplier.company }}</td>
          <td>{{ supplier.cnpj }}</td>
          <td>
            <a href="{% url 'suppliers:supplier_detail' supplier.id %}" class="btn btn-info btn-sm">Detalhes</a>
            <a href="{% url 'suppliers:supplier_update' supplier.id %}" class="btn btn-primary btn-sm">Editar</a>
            <a 
              href="{% url 'suppliers:supplier_delete' supplier.id %}" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>             
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
