{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
{{ block.super }}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<style>
  .required-field label::after {
    content: " *";
    color: red;
  }
</style>
{% endblock %}


{% block content %}

<div class="container-fluid mt-4"> 
     
    <form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h1 style="font-size: 2rem; margin-bottom: 20px;">Cadastro de Fornecedor</h1>
        <p>* Campos obrigatórios</p> <!-- Legenda para campos obrigatórios -->

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Informações Básicas</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="vinculos-tab" data-bs-toggle="tab" data-bs-target="#vinculos" type="button" role="tab" aria-controls="vinculos" aria-selected="false">Vínculos</button>
          </li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="info" role="tabpanel" aria-labelledby="info-tab">
            <div class="row g-3">
                <div class="col-lg-6">
                    <!-- Informações Básicas -->
                    <div class="mb-3 required-field">
                        <label for="id_name" class="form-label">Nome:</label>
                        {{ form.name|add_class:'form-control' }}
                        {% if form.name.errors %}
                            <div class="invalid-feedback" style="display:block;">
                                {% for error in form.name.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3 required-field">
                        <label for="id_email" class="form-label">E-mail:</label>
                        {{ form.email|add_class:'form-control' }}
                        {% if form.email.errors %}
                            <div class="invalid-feedback" style="display:block;">
                                {% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="mb-3 required-field">
                        <label for="id_phone" class="form-label">Telefone:</label>
                        {{ form.phone|add_class:'form-control' }}
                        {% if form.phone.errors %}
                            <div class="invalid-feedback" style="display:block;">
                                {% for error in form.phone.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="id_company" class="form-label">Empresa Representante:</label>
                        {{ form.company|add_class:'form-control' }}
                    </div>

                    <div class="mb-3">
                      <label for="id_cnpj" class="form-label">CNPJ:</label>
                      {{ form.cnpj|add_class:'form-control' }}
                      <!-- <small class="text-muted">Formato: 00.000.000/0000-00</small> -->
                  </div>
                    <!-- Endereço -->
                    <h4>Endereço</h4>
                    <div class="mb-3">
                      <label for="id_zip_code" class="form-label">CEP:</label>
                      {{ form.zip_code }} 
                  </div>

                    <div class="mb-3">
                        <label for="id_address_line_1" class="form-label">Endereço:</label>
                        {{ form.address_line_1|add_class:'form-control' }}
                    </div>

                    <div class="mb-3">
                        <label for="id_address_line_2" class="form-label">Complemento:</label>
                        {{ form.address_line_2|add_class:'form-control' }}
                    </div>

                    <div class="mb-3">
                        <label for="id_city" class="form-label">Cidade:</label>
                        {{ form.city|add_class:'form-control' }}
                    </div>

                    <div class="mb-3">
                        <label for="id_state" class="form-label">Estado:</label>
                        {{ form.state|add_class:'form-control' }}
                    </div>

                </div>
                <div class="col-lg-6">
                    <!-- Detalhes Adicionais -->
                    <h4>Detalhes Adicionais</h4>
                    <div class="mb-3">
                        <label for="id_minimum_order_value" class="form-label">Valor Mínimo para Pedido:</label>
                        {{ form.minimum_order_value|add_class:'form-control' }}
                    </div>

                    <div class="mb-3">
                        <label for="id_order_response_deadline" class="form-label">Prazo de Resposta para Pedidos:</label>
                        {{ form.order_response_deadline|add_class:'form-control' }}
                    </div>                
                    
                </div>
            </div>
          </div>
          <div class="tab-pane" id="vinculos" role="tabpanel" aria-labelledby="vinculos-tab">
            <div class="row g-3">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="id_departments" class="form-label">Departamentos:</label>
                        <select id="id_departments" name="departments" class="selectpicker form-control" multiple data-live-search="true">
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.name }}</option>
                            {% endfor %}
                        </select>                    
                    </div>

                    <div class="mb-3">
                        <label for="id_categories" class="form-label">Categorias:</label>
                        <select id="id_categories" name="categories" class="selectpicker form-control" multiple data-live-search="true">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select> 
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_subcategories" class="form-label">Subcategorias:</label>
                        <select id="id_subcategories" name="subcategories" class="selectpicker form-control" multiple data-live-search="true">
                            {% for subcategory in subcategories %}
                                <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                            {% endfor %}
                        </select> 
                    </div>

                    <!-- <div class="mb-3">
                        <label for="id_brands" class="form-label">Marcas:</label>
                        {{ form.brands|add_class:'form-control' }}
                    </div> -->
                </div>
            </div>
          </div>
        </div>

        <div class="text-end mt-4">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
                
    </form>
</div>
  <!-- Modal de Confirmação -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Cadastro Realizado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          O cadastro foi realizado com sucesso!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>

$(document).ready(function() {
    $('.selectpicker').selectpicker();
});
    


    

      document.addEventListener("DOMContentLoaded", function() {
        var cepInput = document.getElementById('id_zip_code');

        cepInput.addEventListener('blur', function(e) {
            var cep = e.target.value.replace(/\D/g, '');

            // Se o CEP tiver 8 dígitos, tenta buscar o endereço
            if(cep.length === 8) {
                fetch(`https://brasilapi.com.br/api/cep/v1/${cep}`)
                    .then(response => response.json())
                    .then(data => {
                        if(data) {
                            document.getElementById('id_address_line_1').value = data.street;
                            document.getElementById('id_city').value = data.city;
                            document.getElementById('id_state').value = data.state;
                        } else {
                            alert('CEP não encontrado.');
                        }
                    })
                    .catch(() => alert('Erro ao buscar o CEP.'));
            } else {
                // Se o CEP estiver vazio ou for removido, limpa os campos
                document.getElementById('id_address_line_1').value = '';
                document.getElementById('id_city').value = '';
                document.getElementById('id_state').value = '';
            }
        });
    });

$(document).ready(function() {

    $('#id_cnpj').mask('00.000.000/0000-00');
    $('#id_zip_code').mask('00000-000');
    $('#id_phone').mask('(00) 00000-0000');
    $('#id_minimum_order_value').mask('000.000.000.000.000,00', {reverse: true});

    // Preenchimento automático do CEP
    $('#id_zip_code').on('blur', function(e) {
        var cep = e.target.value.replace(/\D/g, '');
        if(cep.length === 8) {
            fetch(`https://brasilapi.com.br/api/cep/v1/${cep}`)
                .then(response => response.json())
                .then(data => {
                    if(data) {
                        $('#id_address_line_1').val(data.street);
                        $('#id_city').val(data.city);
                        $('#id_state').val(data.state);
                    } else {
                        alert('CEP não encontrado.');
                    }
                }).catch(() => alert('Erro ao buscar o CEP.'));
        } else {
            // Limpa os campos se o CEP for removido
            $('#id_address_line_1').val('');
            $('#id_city').val('');
            $('#id_state').val('');
        }
    });
});
</script>
  
</div>
{% endblock %}